@import url("https://fonts.googleapis.com/css?family=Nunito:300italic,regular,600,700");

@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff?5n0a2r") format("woff"), url("../fonts/icons.woff2?5n0a2r") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-beans:before {
  content: "\e901";
}

._icon-cart:before {
  content: "\e902";
}

._icon-mountain:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  position: relative;
}

body {
  font-size: 100%;
  line-height: 1;
  font-family: "Nunito";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Nunito";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  color: #151d28;
  font-size: 16px;
  background-color: #f9fbff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.wrapper._loaded {
  opacity: 1;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(237, 240, 245, 0.7)), to(rgba(65, 81, 103, 0.7)));
  background: -o-linear-gradient(left, rgba(237, 240, 245, 0.7), rgba(65, 81, 103, 0.7));
  background: linear-gradient(to right, rgba(237, 240, 245, 0.7), rgba(65, 81, 103, 0.7));
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(35%, transparent), color-stop(35%, #415167), to(#415167));
  background: -o-linear-gradient(left, transparent 0%, transparent 35%, #415167 35%, #415167 100%);
  background: linear-gradient(to right, transparent 0%, transparent 35%, #415167 35%, #415167 100%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__container {
  max-width: 1080px;
  margin: 0px auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__logo {
  width: 110px;
  height: 36px;
  position: relative;
  z-index: 20;
}

.header__logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 20;
}

.header__icon {
  margin-right: 30px;
}

.cart {
  padding-right: 17px;
  position: relative;
}

.cart__icon {
  cursor: pointer;
}

.cart__icon::before {
  color: #ffffff;
  font-size: 20px;
}

.cart__icon span {
  position: absolute;
  top: -13px;
  left: 13px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #c7a17a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: #ffffff;
}

.cart__body {
  position: absolute;
  top: 150%;
  right: 0;
  width: 300px;
  z-index: 5;
  padding: 15px;
  background-color: #edf0f5;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 20px);
      -ms-transform: translate(0px, 20px);
          transform: translate(0px, 20px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._active .cart__body {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.cart-list {
  overflow-y: scroll;
  max-height: 200px;
}

.cart-list::-webkit-scrollbar {
  width: 3px;
  background-color: #edf0f5;
}

.cart-list::-webkit-scrollbar-thumb {
  background-color: #151d28;
  border-radius: 3px;
}

.cart-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-list__item:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.cart-list__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 100px;
}

.cart-list__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px 0px 15px;
  font-size: 16px;
}

.cart-list__title {
  margin: 0px 0px 0.3125em 0px;
  font-weight: 700;
}

.cart-list__prise {
  margin: 0px 0px 0.9375em 0px;
}

.cart-list__quantity {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 0.3125em 0px;
}

.cart-list__delete {
  color: #a50b0b;
}

._btn {
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  color: #f9fbff;
  background-color: #c7a17a;
  border-radius: 19px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

._title {
  text-align: center;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  color: #415167;
}

._sub-title {
  color: #232c38;
  font-weight: 700;
  font-size: 24px;
}

._coffee-text {
  text-align: center;
  color: #415167;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

._text {
  font-weight: 300;
  line-height: 137.5%;
}

._arrows {
  position: absolute;
  top: 0;
  left: -3%;
  width: 106%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._arrows ._arrow-prev {
  -webkit-transform: scale(0) rotate(180deg);
      -ms-transform: scale(0) rotate(180deg);
          transform: scale(0) rotate(180deg);
  position: relative;
  z-index: 15;
}

._arrows ._arrow-next {
  position: relative;
  z-index: 15;
}

._arrow {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #f9fbff;
  background-color: #c7a17a;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._link {
  white-space: nowrap;
  font-weight: bold;
  color: #415167;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

._price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 600;
  color: #c7a17a;
  font-size: 20px;
}

._price__old {
  color: #415167;
  font-weight: 300;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  font-size: 14px;
  margin: 2px 0px 0px 20px;
}

._fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

._fullscreen__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

._main-text {
  position: relative;
  z-index: 10;
  font-family: Montserrat;
  font-weight: 900;
  line-height: 129.62963%;
  font-size: 54px;
  color: #fff;
}

._main-text__simple {
  padding: 0px 10px;
}

._main-text__colored {
  background-color: #c7a17a;
  padding: 0px 10px;
}

._flyImage {
  opacity: 1;
  position: fixed;
  z-index: 100;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.up {
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #c7a17a;
  border-radius: 50%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.up._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.up span {
  color: #fff;
  font-size: 16px;
  -webkit-animation: arrowUpAndDown 2s linear 0s infinite;
          animation: arrowUpAndDown 2s linear 0s infinite;
  position: relative;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@-webkit-keyframes arrowUpAndDown {
  0% {
    top: 0px;
  }

  25% {
    top: -3px;
  }

  50% {
    top: 0px;
  }

  75% {
    top: 3px;
  }

  100% {
    top: 0px;
  }
}

@keyframes arrowUpAndDown {
  0% {
    top: 0px;
  }

  25% {
    top: -3px;
  }

  50% {
    top: 0px;
  }

  75% {
    top: 3px;
  }

  100% {
    top: 0px;
  }
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #edf0f5;
}

.footer__text {
  color: #415167;
  text-align: center;
  font-size: 16px;
}

.good-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.good-item._vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.good-item._horizontal {
  max-width: 560px;
  max-height: 268px;
  height: 100%;
  margin: 0px auto;
}

.good-item._horizontal .good-item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  padding: 0px 0px 45% 0px;
}

.good-item._horizontal .good-item__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

.good-item._horizontal .good-item__title {
  margin-bottom: 24px;
}

.good-item__image {
  padding: 0px 0px 100% 0px;
}

.good-item__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 42px;
}

.good-item__price:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.good-item__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.good-item__text {
  max-height: 45px;
  overflow: hidden;
}

.good-item__text:not(:last-child) {
  margin-bottom: 24px;
}

.good-item__btns {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.good-item__btns:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.good-item__btn {
  height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px 10px 0px 0px;
}

.good-item__link {
  line-height: 32px;
  text-align: center;
}

.main-screen {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f9fbff), color-stop(50%, #415167));
  background: -o-linear-gradient(left, #f9fbff 50%, #415167 50%);
  background: linear-gradient(to right, #f9fbff 50%, #415167 50%);
}

.main-screen__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1300px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 1300px) 1fr;
}

.main-screen__container {
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(auto, 1076px) auto;
      grid-template: 1fr/minmax(auto, 1076px) auto;
}

.main-screen__slider {
  margin: 0px -3px;
}

.main-screen__menu {
  background-color: #415167;
}

.main-slider {
  height: 100%;
  min-height: 600px;
  overflow: hidden;
  min-width: 100%;
}

.main-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100% !important;
}

.main-slide__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  position: relative;
  background-color: #f9fbff;
}

.main-slide__text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 110px;
  padding-bottom: 64px;
}

.main-slide__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.666%;
          flex: 0 1 66.666%;
  position: relative;
}

.menu__title {
  white-space: nowrap;
  color: #edf0f5;
  font-weight: 700;
  font-size: 16px;
}

.menu__title:not(:last-child) {
  margin-bottom: 35px;
}

.menu__list li:not(:last-child) {
  margin-bottom: 40px;
}

.menu__link {
  white-space: nowrap;
  color: #edf0f5;
  font-weight: 300;
  font-size: 16px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.video-slide._playing .video-slide__preview {
  opacity: 0;
  visibility: hidden;
}

.video-slide__video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-slide__preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.video-slide__icon {
  width: 54px;
  height: 54px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 24px rgba(74, 74, 74, 0.5);
          box-shadow: 0px 4px 24px rgba(74, 74, 74, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: buttonScale 3s linear 0s infinite;
          animation: buttonScale 3s linear 0s infinite;
}

.video-slide__icon::before {
  content: "";
  border-left: 12px solid #c7a17a;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin: 0px 0px 0px 3px;
  -webkit-animation: buttonScale 3s linear 0s infinite;
          animation: buttonScale 3s linear 0s infinite;
}

.icon-menu {
  display: none;
}

@-webkit-keyframes buttonScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes buttonScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.coffee-build {
  padding-top: 80px;
  padding-bottom: 100px;
}

.coffee-build__container {
  max-width: 1140px;
  padding: 0px 20px;
  margin: 0px auto;
}

.coffee-build__coffee-text {
  margin: 0px 0px 5px 0px;
}

.coffee-build__title {
  margin-bottom: 90px;
}

.coffee-build__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -34px;
  margin-right: -34px;
}

.coffee-build__items._animation .coffee-build__item {
  opacity: 1;
  -webkit-transform: translate(0%, 0);
      -ms-transform: translate(0%, 0);
          transform: translate(0%, 0);
}

.coffee-build__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 34px;
  padding-right: 34px;
  margin-bottom: 30px;
  text-align: center;
}

.coffee-build__image:not(:last-child) {
  margin-bottom: 45px;
}

.coffee-build__sub-title:not(:last-child) {
  margin-bottom: 14px;
}

.coffee-build__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.coffee-build__text:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.slider-choose {
  padding-top: 90px;
  padding-bottom: 100px;
}

.slider-choose__coffee-text {
  margin: 0px 0px 5px 0px;
}

.slider-choose__title {
  margin-bottom: 50px;
}

.slider-choose__container {
  max-width: 1202px;
  margin: 0px auto;
  position: relative;
}

.slider-choose__container::before {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 110%;
  background-color: #f9fbff81;
  z-index: 10;
}

.slider-choose__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 110%;
  background-color: #415167;
  z-index: 10;
}

.choose-slider {
  overflow: visible;
  padding: 25px 25px 57px 25px;
}

.choose-slider__slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 32px 50%;
  -ms-grid-columns: 1fr;
      grid-template: 50% 50% / 1fr;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.giftset {
  padding-top: 86px;
  padding-bottom: 126px;
  background: -webkit-gradient(linear, left top, right top, color-stop(77%, #edf0f5), color-stop(77%, #f9fbff));
  background: -o-linear-gradient(left, #edf0f5 77%, #f9fbff 77%);
  background: linear-gradient(to right, #edf0f5 77%, #f9fbff 77%);
}

.giftset__container {
  max-width: 1178px;
  padding: 0px 20px;
  margin: 0px auto;
}

.giftset__coffee-text {
  margin: 0px 0px 5px 0px;
}

.giftset__title {
  margin-bottom: 68px;
}

.giftset-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 460px;
  overflow: hidden;
  -webkit-box-shadow: 7px 15px 10px -15px rgba(205, 205, 205, 0.5);
          box-shadow: 7px 15px 10px -15px rgba(205, 205, 205, 0.5);
}

.giftset-slider__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-right: 2px solid #edf0f5;
}

.giftset-slider .giftset-slider-pagination {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 88px;
      flex-basis: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  position: relative;
  right: 0;
  top: 0;
  z-index: 5;
}

.giftset-slider .giftset-slider-pagination .swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100% !important;
  height: 100% !important;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 30px;
  color: #415167;
  border-radius: 0px;
  margin: 0px;
  opacity: 0.3;
  background-color: transparent;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.giftset-slider .giftset-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
  -webkit-box-shadow: 5px 5px 10px rgba(205, 205, 205, 0.3);
          box-shadow: 5px 5px 10px rgba(205, 205, 205, 0.3);
}

.giftset-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.giftset-slide__image {
  background: -webkit-gradient(linear, left top, right top, color-stop(45%, #edf0f5), color-stop(45%, #fff));
  background: -o-linear-gradient(left, #edf0f5 45%, #fff 45%);
  background: linear-gradient(to right, #edf0f5 45%, #fff 45%);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.giftset-slide__image img {
  width: 463px;
  height: 416px;
}

.giftset-slide__container {
  overflow: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding-top: 65px;
  padding-right: 65px;
  padding-left: 25px;
  padding-bottom: 70px;
}

.giftset-slide__container::-webkit-scrollbar {
  width: 3px;
}

.giftset-slide__container::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.5);
  border-radius: 3px;
}

.giftset-slide__price:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.giftset-slide__title:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.giftset-slide__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.giftset-slide__text:not(:last-child) {
  margin-bottom: 24px;
}

.giftset-slide__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -40px;
  margin-right: -40px;
}

.giftset-slide__info:not(:last-child) {
  margin-bottom: 30px;
}

.giftset-slide__info-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.giftset-slide__btns:not(:last-child) {
  margin-bottom: 30px;
}

.giftset-slide__btn {
  height: 37px;
  padding-right: 35px;
  padding-left: 35px;
  margin-right: 150px;
}

.info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  font-size: 26px;
  margin: 0px 12px 0px 0px;
}

.info-item__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  white-space: nowrap;
}

.info-item__title {
  font-weight: 300;
  margin: 0px 0px 3px 0px;
}

.info-item__descr {
  font-weight: 600;
}

.combo {
  padding-top: 88px;
  padding-bottom: 128px;
}

.combo__container {
  max-width: 1170px;
  padding: 0px 30px;
  margin: 0px auto;
  position: relative;
}

.combo__container::before {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 110%;
  background-color: #415167a2;
  z-index: 10;
}

.combo__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 110%;
  background-color: #f9fbff;
  z-index: 10;
}

.combo__coffee-text {
  margin: 0px 0px 5px 0px;
}

.combo__title {
  margin-bottom: 68px;
}

.combo-slider {
  position: relative;
  overflow: visible;
}

.combo-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
}

.combo-slider__arrows {
  left: -5.5%;
  width: 111%;
}

@media (min-width: 479.98px) {
  .combo {
    background: -webkit-gradient(linear, left top, right top, color-stop(77%, #f9fbff), color-stop(77%, #415167));
    background: -o-linear-gradient(left, #f9fbff 77%, #415167 77%);
    background: linear-gradient(to right, #f9fbff 77%, #415167 77%);
  }
}

@media (min-width: 767.98px) {
  .cart__body {
    border: 1px solid #415167;
  }

  .slider-choose {
    background: -webkit-gradient(linear, left top, right top, color-stop(27%, #415167), color-stop(27%, #f9fbff));
    background: -o-linear-gradient(left, #415167 27%, #f9fbff 27%);
    background: linear-gradient(to right, #415167 27%, #f9fbff 27%);
  }
}

@media (min-width: 992.98px) {
  .wrapper._loaded .header__logo {
    -webkit-transform: translate(0%, 0);
        -ms-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }

  .wrapper._loaded .header__items {
    -webkit-transform: translate(0%, 0);
        -ms-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }

  .wrapper._loaded .menu__title {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .wrapper._loaded .menu__list li {
    -webkit-transform: translate(0%, 0);
        -ms-transform: translate(0%, 0);
            transform: translate(0%, 0);
    opacity: 1;
  }

  .header._scroll .header__wrapper::before {
    opacity: 1;
  }

  .header._scroll .header__container {
    padding-top: 20px;
  }

  .header__wrapper::before {
    opacity: 0;
  }

  .header__logo {
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }

  .header__items {
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    -webkit-transform: translate(150%, 0%);
        -ms-transform: translate(150%, 0%);
            transform: translate(150%, 0%);
  }

  ._title {
    opacity: 0;
    -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
            transform: translate(0, 100%);
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
  }

  ._title._animation {
    opacity: 1;
    -webkit-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }

  ._coffee-text {
    opacity: 0;
    -webkit-transform: translate(0, 200%);
        -ms-transform: translate(0, 200%);
            transform: translate(0, 200%);
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
  }

  ._coffee-text._animation {
    opacity: 1;
    -webkit-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }

  ._main-text__simple {
    color: #415167;
  }

  .menu__body {
    padding-top: 230px;
    padding-left: 57px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .menu__title {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
  }

  .menu__list li {
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    -webkit-transform: translate(0, 200%);
        -ms-transform: translate(0, 200%);
            transform: translate(0, 200%);
    opacity: 0;
  }

  .menu__list li:nth-child(1) {
    -webkit-transition: all 1s ease 0.2s;
    -o-transition: all 1s ease 0.2s;
    transition: all 1s ease 0.2s;
  }

  .menu__list li:nth-child(2) {
    -webkit-transition: all 1s ease 0.4s;
    -o-transition: all 1s ease 0.4s;
    transition: all 1s ease 0.4s;
  }

  .menu__list li:nth-child(3) {
    -webkit-transition: all 1s ease 0.6s;
    -o-transition: all 1s ease 0.6s;
    transition: all 1s ease 0.6s;
  }

  .menu__list li:nth-child(4) {
    -webkit-transition: all 1s ease 0.8s;
    -o-transition: all 1s ease 0.8s;
    transition: all 1s ease 0.8s;
  }

  .menu__list li:nth-child(5) {
    -webkit-transition: all 1s ease 1s;
    -o-transition: all 1s ease 1s;
    transition: all 1s ease 1s;
  }

  .coffee-build__item {
    opacity: 0;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
  }

  .coffee-build__item:nth-child(1) {
    -webkit-transition: all 1.2s ease 0s;
    -o-transition: all 1.2s ease 0s;
    transition: all 1.2s ease 0s;
  }

  .coffee-build__item:nth-child(2) {
    -webkit-transition: all 1.2s ease 0.2s;
    -o-transition: all 1.2s ease 0.2s;
    transition: all 1.2s ease 0.2s;
  }

  .coffee-build__item:nth-child(3) {
    -webkit-transition: all 1.2s ease 0.4s;
    -o-transition: all 1.2s ease 0.4s;
    transition: all 1.2s ease 0.4s;
  }

  .coffee-build__item:nth-child(4) {
    -webkit-transition: all 1.2s ease 0.6s;
    -o-transition: all 1.2s ease 0.6s;
    transition: all 1.2s ease 0.6s;
  }

  .giftset__slider {
    opacity: 0;
    -webkit-transition: all 2s ease 0s;
    -o-transition: all 2s ease 0s;
    transition: all 2s ease 0s;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }

  .giftset__slider._animation {
    opacity: 1;
    -webkit-transform: translate(0%, 0);
        -ms-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }

  .giftset-slider .giftset-slider-pagination .swiper-pagination-bullet {
    -webkit-box-shadow: inset 10px 0 15px -10px rgba(150, 149, 149, 0.521);
            box-shadow: inset 10px 0 15px -10px rgba(150, 149, 149, 0.521);
  }

  .giftset-slide__image {
    padding: 50px 0px 0px 0px;
  }
}

@media (max-width: 1340px) {
  ._arrows {
    display: none;
  }
}

@media (max-width: 1162px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1150px) {
  .header__container {
    padding-top: calc(25px + 50 * ((100vw - 320px) / 830));
  }

  .header__logo {
    width: calc(70px + 40 * ((100vw - 320px) / 830));
  }

  .header__logo {
    height: calc(25px + 11 * ((100vw - 320px) / 830));
  }

  .header__icon {
    margin-right: calc(25px + 5 * ((100vw - 320px) / 830));
  }

  .cart {
    padding-right: calc(0px + 17 * ((100vw - 320px) / 830));
  }

  ._title {
    font-size: calc(24px + 6 * ((100vw - 320px) / 830));
  }

  ._sub-title {
    font-size: calc(20px + 4 * ((100vw - 320px) / 830));
  }

  ._coffee-text {
    font-size: calc(18px + 2 * ((100vw - 320px) / 830));
  }

  ._price {
    font-size: calc(18px + 2 * ((100vw - 320px) / 830));
  }

  ._main-text {
    font-size: calc(34px + 20 * ((100vw - 320px) / 830));
  }

  .up {
    bottom: calc(10px + 5 * ((100vw - 320px) / 830));
  }

  .up {
    right: calc(15px + 15 * ((100vw - 320px) / 830));
  }

  .up {
    width: calc(40px + 10 * ((100vw - 320px) / 830));
  }

  .up {
    height: calc(40px + 10 * ((100vw - 320px) / 830));
  }

  .up span {
    font-size: calc(12px + 4 * ((100vw - 320px) / 830));
  }

  .footer {
    padding-top: calc(10px + 10 * ((100vw - 320px) / 830));
  }

  .footer {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 830));
  }

  .footer__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 830));
  }

  .good-item._horizontal .good-item__title {
    margin-bottom: calc(10px + 14 * ((100vw - 320px) / 830));
  }

  .good-item__block {
    padding: calc(10px + 32 * ((100vw - 320px) / 830));
  }

  .good-item__text:not(:last-child) {
    margin-bottom: calc(10px + 14 * ((100vw - 320px) / 830));
  }

  .good-item__btn {
    padding-left: calc(10px + 10 * ((100vw - 320px) / 830));
  }

  .good-item__btn {
    padding-right: calc(10px + 10 * ((100vw - 320px) / 830));
  }

  .main-slide__text {
    padding-left: calc(10px + 100 * ((100vw - 320px) / 830));
  }

  .main-slide__text {
    padding-bottom: calc(20px + 44 * ((100vw - 320px) / 830));
  }

  .menu__title:not(:last-child) {
    margin-bottom: calc(20px + 15 * ((100vw - 320px) / 830));
  }

  .menu__list li:not(:last-child) {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 830));
  }

  .coffee-build {
    padding-top: calc(50px + 30 * ((100vw - 320px) / 830));
  }

  .coffee-build {
    padding-bottom: calc(10px + 90 * ((100vw - 320px) / 830));
  }

  .coffee-build__title {
    margin-bottom: calc(30px + 60 * ((100vw - 320px) / 830));
  }

  .coffee-build__items {
    margin-left: calc(-15px + -19 * ((100vw - 320px) / 830));
  }

  .coffee-build__items {
    margin-right: calc(-15px + -19 * ((100vw - 320px) / 830));
  }

  .coffee-build__item {
    padding-left: calc(15px + 19 * ((100vw - 320px) / 830));
  }

  .coffee-build__item {
    padding-right: calc(15px + 19 * ((100vw - 320px) / 830));
  }

  .coffee-build__image:not(:last-child) {
    margin-bottom: calc(15px + 30 * ((100vw - 320px) / 830));
  }

  .coffee-build__sub-title:not(:last-child) {
    margin-bottom: calc(8px + 6 * ((100vw - 320px) / 830));
  }

  .slider-choose {
    padding-top: calc(10px + 80 * ((100vw - 320px) / 830));
  }

  .slider-choose {
    padding-bottom: calc(15px + 85 * ((100vw - 320px) / 830));
  }

  .slider-choose__title {
    margin-bottom: calc(10px + 40 * ((100vw - 320px) / 830));
  }

  .giftset {
    padding-top: calc(30px + 56 * ((100vw - 320px) / 830));
  }

  .giftset {
    padding-bottom: calc(20px + 106 * ((100vw - 320px) / 830));
  }

  .giftset__title {
    margin-bottom: calc(20px + 48 * ((100vw - 320px) / 830));
  }

  .giftset-slider {
    height: calc(350px + 110 * ((100vw - 320px) / 830));
  }

  .giftset-slider .giftset-slider-pagination {
    -ms-flex-preferred-size: calc(50px + 38 * ((100vw - 320px) / 830));
        flex-basis: calc(50px + 38 * ((100vw - 320px) / 830));
  }

  .giftset-slider .giftset-slider-pagination .swiper-pagination-bullet {
    font-size: calc(20px + 10 * ((100vw - 320px) / 830));
  }

  .giftset-slide__image img {
    width: calc(0px + 463 * ((100vw - 320px) / 830));
  }

  .giftset-slide__image img {
    height: calc(0px + 416 * ((100vw - 320px) / 830));
  }

  .giftset-slide__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }

  .giftset-slide__container {
    padding-top: calc(15px + 50 * ((100vw - 320px) / 830));
  }

  .giftset-slide__container {
    padding-right: calc(15px + 50 * ((100vw - 320px) / 830));
  }

  .giftset-slide__container {
    padding-left: calc(15px + 10 * ((100vw - 320px) / 830));
  }

  .giftset-slide__container {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }

  .giftset-slide__text:not(:last-child) {
    margin-bottom: calc(15px + 9 * ((100vw - 320px) / 830));
  }

  .giftset-slide__info:not(:last-child) {
    margin-bottom: calc(0px + 30 * ((100vw - 320px) / 830));
  }

  .giftset-slide__info {
    margin-left: calc(-10px + -30 * ((100vw - 320px) / 830));
  }

  .giftset-slide__info {
    margin-right: calc(-10px + -30 * ((100vw - 320px) / 830));
  }

  .giftset-slide__info-item {
    padding-left: calc(10px + 30 * ((100vw - 320px) / 830));
  }

  .giftset-slide__info-item {
    padding-right: calc(10px + 30 * ((100vw - 320px) / 830));
  }

  .giftset-slide__btns:not(:last-child) {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 830));
  }

  .giftset-slide__btn {
    height: calc(25px + 12 * ((100vw - 320px) / 830));
  }

  .giftset-slide__btn {
    padding-right: calc(15px + 20 * ((100vw - 320px) / 830));
  }

  .giftset-slide__btn {
    padding-left: calc(15px + 20 * ((100vw - 320px) / 830));
  }

  .giftset-slide__btn {
    margin-right: calc(20px + 130 * ((100vw - 320px) / 830));
  }

  .combo {
    padding-top: calc(40px + 48 * ((100vw - 320px) / 830));
  }

  .combo {
    padding-bottom: calc(50px + 78 * ((100vw - 320px) / 830));
  }

  .combo__title {
    margin-bottom: calc(30px + 38 * ((100vw - 320px) / 830));
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }

  .header__wrapper._open::before {
    opacity: 0;
  }

  .header__wrapper._open::after {
    opacity: 1;
    -webkit-transition: all 0.3s ease 0.8s;
    -o-transition: all 0.3s ease 0.8s;
    transition: all 0.3s ease 0.8s;
  }

  .header__container {
    padding-top: 20px;
  }

  .good-item {
    -webkit-box-shadow: 0px 4px 10px rgba(205, 205, 205, 0.5);
            box-shadow: 0px 4px 10px rgba(205, 205, 205, 0.5);
  }

  .main-slide__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10%;
            flex: 0 1 10%;
  }

  .main-slide__video {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }

  .menu {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.521);
    z-index: 20;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }

  .menu._active {
    opacity: 1;
    visibility: visible;
  }

  .menu._active .menu__body {
    right: 0%;
  }

  .menu__body {
    position: absolute;
    height: 100%;
    width: 65%;
    top: 0;
    right: -100%;
    overflow: auto;
    background-color: #415167;
    padding: 0px 20px 30px 20px;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    padding-top: 140px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: calc(50% - 1px);
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .coffee-build__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .giftset-slider {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .giftset-slider .giftset-slider-pagination {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    background-color: #edf0f5;
  }

  .giftset-slider .giftset-slider-pagination .swiper-pagination-bullet {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .giftset-slider .giftset-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    -webkit-box-shadow: 0px 10px 10px 5px rgba(205, 205, 205, 0.5);
            box-shadow: 0px 10px 10px 5px rgba(205, 205, 205, 0.5);
  }
}

@media (max-width: 992.98px) and (max-width: 1150px) {
  .menu__body {
    padding-top: calc(100px + 40 * ((100vw - 320px) / 830));
  }

  .giftset-slider .giftset-slider-pagination .swiper-pagination-bullet {
    padding-bottom: calc(5px + 10 * ((100vw - 320px) / 830));
  }

  .giftset-slider .giftset-slider-pagination .swiper-pagination-bullet {
    padding-top: calc(5px + 10 * ((100vw - 320px) / 830));
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .header {
    min-height: 5px;
  }

  .cart__body {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
  }

  .menu__title {
    font-size: 18px;
  }

  .menu__link {
    font-size: 18px;
  }

  .giftset-slide__image {
    display: none;
  }

  .giftset-slide__container {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 767.98px) and (max-width: 1150px) {
  .cart__body {
    top: calc(55px + 10 * ((100vw - 320px) / 830));
  }
}

@media (max-width: 479.98px) {
  .good-item__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .good-item__btn {
    margin: 0px 0px 10px 0px;
  }

  .coffee-build__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .giftset-slider {
    height: 150px;
  }

  .giftset-slide__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 479.98px) and (max-width: 1150px) {
  .giftset-slider {
    height: calc(500px + -350 * ((100vw - 320px) / 830));
  }
}

@media (max-width: 400px) {
  .good-item._horizontal .good-item__image {
    display: none;
  }

  .good-item._horizontal .good-item__block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (min-width: 992.98px) and (max-width: 1150px) {
  .menu__body {
    padding-top: calc(150px + 80 * ((100vw - 320px) / 830));
  }

  .menu__body {
    padding-left: calc(-60px + 117 * ((100vw - 320px) / 830));
  }

  .menu__body {
    padding-right: calc(0px + 30 * ((100vw - 320px) / 830));
  }
}

@media (any-hover: hover) {
  ._btn:hover {
    background-color: #866b51;
  }

  ._arrow:hover {
    background-color: #a18365;
  }

  ._link:hover {
    color: #c7a17a;
  }

  .good-item:hover {
    -webkit-box-shadow: 0px 4px 24px rgba(205, 205, 205, 0.5);
            box-shadow: 0px 4px 24px rgba(205, 205, 205, 0.5);
  }

  .menu__link:hover {
    color: #aeb3b8;
    text-shadow: 0 0 10px #aeb3b8;
  }
}